.name-banner {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 32px;
}

.description {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

.landing-page {
  margin-top: 1px;
  height: 100vh;
  margin-left: 20px;
}

.section-title {
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
  text-align: center;
}