.contact-list {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  grid-template-columns: 1fr 1fr;
  grid-gap: 32px;
  /* padding: 24px; */
  margin-bottom: 35vh;
}

.contact-card {
  display: inline-block;
  padding: 16px;
  height: 300px;
  color: white;
  font-family: 'Raleway', sans-serif;
}