@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
@import "./components/index.css";

html {
  background-image: url("../images/landscape_background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  scroll-behavior: smooth;
}
